*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-family: 'Amatica SC', cursive;
  
}
input[type=text]{
  background: url(https://maxcdn.icons8.com/Color/PNG/24/Computer_Hardware/mouse_left_click-24.png) 0.2em 0.3em no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  transition: all 0.2s linear;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #222222;
  position: relative;
  height: 36px;
  width: 300px;
  padding-left: 30px;
//he :focus CSS pseudo-class is applied when an element has received focus, either from the user selecting it with the use of a keyboard or by activating with the mouse (e.g. a form input).
  &:focus{
    box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
    outline: none;
    background: url(https://maxcdn.icons8.com/Color/PNG/24/Computer_Hardware/enter-24.png) 20.5em 0.3em no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  }
}

p {
  color: #424242;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align:center;
  margin: 1.5em auto 0.75em;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 1.8em;
  font-variant: small-caps;
}

p:first-letter{
  text-transform: uppercase;
}

section {
  margin: 0 auto;
  padding: 2em 3em;
  text-align: center;
}

div.foo {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.logout {
  font-size: 0.75em;
}

.correct {
  color: #00B4F1;
}

.incorrect {
  color: #e93d00;
}

.letter {
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.1em;
  position: relative;
  color: #60ffc5;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}


a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

a:hover,
a:focus {
  outline: none;
}



.button a {
  margin: 0 30px;
  padding: 18px 20px;
}

.button a::before,
.button a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000000;
  content: '';
  opacity: 0.2;
  -webkit-transition: opacity 0.3s, height 0.3s;
  -moz-transition: opacity 0.3s, height 0.3s;
  transition: opacity 0.3s, height 0.3s;
}



.button a span:first-child {
  z-index: 2;
  display: block;
  font-weight: 300;
}

.button a span:last-child {
  height: 6px;
  z-index: 1;
  display: block;
  padding: 8px 0 0 0;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: none;
  text-transform: none;
  font-style: italic;
  font-size: 0.75em;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
   -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
